@{
    ViewData["Title"] = "Clientes";
}
<div>
    <a class="btn btn-secondary" style="margin-bottom:10px" asp-area="" asp-controller="Cliente" asp-action="Index">Adicionar Cliente</a>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nome/Razão Social</th>
                <th scope="col">E-mail</th>
                <th scope="col">Telefone</th>
                <th scope="col">Telefone</th>
                <th scope="col">Data de Cadastro</th>
                <th scope="col">Bloqueado</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
